<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head.ejs') %>

</head>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2 class="subtitle">Á propos de moi</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, illum. Adipisci dolorem debitis quae. Atque corporis laboriosam ea harum. Officia quasi quo eveniet soluta minus repudiandae voluptatum ab possimus laboriosam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio distinctio quas repellendus doloribus eligendi consequatur quod corrupti, quasi incidunt doloremque aspernatur ratione veritatis? Eos optio voluptate obcaecati aliquid ut soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis similique quo cum culpa provident, ea soluta molestias ipsam sapiente perferendis tempore fugiat recusandae possimus. Velit quisquam at accusamus dolore officiis.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>